<div class="list-container">
  <div
    *ngFor="let knowledgeUnit of knowledgeUnits"
    class="list-item"
    (click)="selected.emit(knowledgeUnit)"
  >
    <div class="list-item-content">
      <div class="list-item-main">
        <h3 class="list-item-title">
          {{ knowledgeUnit.concept || 'Untitled' }}
        </h3>
        <p class="list-item-meta" *ngIf="knowledgeUnit.question">
          {{ knowledgeUnit.question }}
        </p>
        <p class="list-item-date" *ngIf="knowledgeUnit.createdAt">
          {{ knowledgeUnit.createdAt | date:'short' }}
        </p>
      </div>
      <button
        *ngIf="!readonly"
        class="list-item-delete"
        (click)="onDelete(knowledgeUnit); $event.stopPropagation()"
        type="button"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div
    *ngIf="knowledgeUnits.length === 0"
    class="list-empty"
  >
    <mat-icon class="list-empty-icon">inbox</mat-icon>
    <p class="list-empty-text">No knowledge units found</p>
  </div>
</div>
