:host {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

app-sidebar {
  flex: 0 0 auto;
}

main {
  flex: 1 1 0;
  min-width: 0;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}

main > div {
  flex: 1 1 0;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

router-outlet {
  display: none;
}

// The routed component is inserted as a sibling AFTER router-outlet
// ::ng-deep is needed to pierce Angular's view encapsulation
:host ::ng-deep router-outlet + * {
  flex: 1 1 0;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}


