<div class="grid grid-cols-1 lg:grid-cols-2 h-full pl-4 sm:pl-8 md:pl-8 lg:ml-64 xl:ml-64 pr-4 sm:pr-8 md:pr-8 lg:pr-4 xl:pr-4 gap-6 md:pt-8 lg:pt-0 pt-6">
  <div>
    <app-<%= pluralKebabCase %>-list
      [<%= pluralPropertyName %>]="(<%= pluralPropertyName %>$ | async) ?? []"
      (selected)="select<%= singularClassName %>($event)"
      (deleted)="delete<%= singularClassName %>($event)"
    ></app-<%= pluralKebabCase %>-list>
  </div>
  <div>
    <app-<%= singularKebabCase %>-detail
      [<%= singularPropertyName %>]="selected<%= singularClassName %>$ | async"
      (saved)="save<%= singularClassName %>($event)"
      (cancelled)="cancel()"
    ></app-<%= singularKebabCase %>-detail>
  </div>
</div>
