<div class="list-container">
  <div
    *ngFor="let rawContent of rawContent"
    class="list-item"
    (click)="selected.emit(rawContent)"
  >
    <div class="list-item-content">
      <div class="list-item-main">
        <h3 class="list-item-title">
          {{ rawContent.title || 'Untitled' }}
        </h3>
        <p class="list-item-meta" *ngIf="rawContent.author">
          {{ rawContent.author }}
        </p>
        <p class="list-item-date" *ngIf="rawContent.createdAt">
          {{ rawContent.createdAt | date:'short' }}
        </p>
      </div>
      <button
        *ngIf="!readonly"
        class="list-item-delete"
        (click)="onDelete(rawContent); $event.stopPropagation()"
        type="button"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="rawContent.length === 0" class="list-empty">
    <mat-icon class="list-empty-icon">inbox</mat-icon>
    <p class="list-empty-text">No raw content found</p>
  </div>
</div>
