<div class="list-container">
  <div
    *ngFor="let sourceConfig of sourceConfigs"
    class="list-item"
    (click)="selected.emit(sourceConfig)"
  >
    <div class="list-item-content">
      <div class="list-item-main">
        <h3 class="list-item-title">
          {{ sourceConfig.name || 'Untitled' }}
        </h3>
        <p class="list-item-meta" *ngIf="sourceConfig.url">
          {{ sourceConfig.url }}
        </p>
        <p class="list-item-date" *ngIf="sourceConfig.createdAt">
          {{ sourceConfig.createdAt | date:'short' }}
        </p>
      </div>
      <button
        *ngIf="!readonly"
        class="list-item-delete"
        (click)="onDelete(sourceConfig); $event.stopPropagation()"
        type="button"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div
    *ngIf="sourceConfigs.length === 0"
    class="list-empty"
  >
    <mat-icon class="list-empty-icon">inbox</mat-icon>
    <p class="list-empty-text">No source configs found</p>
  </div>
</div>
